<html>
    <head>
    </head>
    <body>

        <div id="quiz">
        </div>


        <script src="https://code.jquery.com/jquery-3.5.1.js">
        <script>
            $(document).ready(function(){
                $.get('http://127.0.0.1:3333/google' , function(data){
                    console.log('data')
                })
            })
        </script>
        </script>
    </body>
</html>